<div class="alert alert-danger" id="danger" style="display: none"></div>
<div class="alert alert-info" id="message" style="display: none"></div>
<% unless current_user? @user %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render "unfollow" %>
  <% else %>
    <%= render "follow" %>
  <% end %>
  </div>
<% end %>
